<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="interviewRecipe.interviewRecipe.dto.InterviewDto" alias="interview"></typeAlias>
        <typeAlias type="interviewRecipe.interviewRecipe.dto.InterviewQueDto" alias="interviewQue"></typeAlias>
        <typeAlias type="interviewRecipe.interviewRecipe.dto.MemberDto" alias="member"></typeAlias>
    </typeAliases>
</configuration>