
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}
body {
    margin:0;
    padding:0;
    font-family:'GangwonEdu_OTFBoldA', 'Playfair Display', serif;
    background: linear-gradient(#141e30, #243b55);
}

.indexLine {
    box-sizing: border-box;
    /* position: absolute; */
    width: 445px;
    height: 605px;
    border: 1px solid #FFFFFF;
    box-shadow: 26px 15px 34px -8px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    margin-left: 401px;
    margin-top: 115px;
    margin-bottom: 310px;
}


.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
.login-box h2 {
    margin: 0 0 45px;
    padding: 0;
    color: #fff;
    text-align: justify;
}

.login-box .user-box {
    display: flex;
    margin-bottom: 20px;
}

.login-box .radios {
    display : flex;
}

.radio {
    padding-left:45px;
}

input[type="radio"] {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #999;
    appearance: none;
    cursor: pointer;
    transition: background 0.2s;
}

input[type="radio"]:checked {
    background: #FEFEFE;
    border: none;
}


.login-box .user-box input {
    position: absolute;
    width: 240px;
    height: 27px;

    background: linear-gradient(0deg, #FEFEFE, #FEFEFE), linear-gradient(0deg, #FEFEFE, #FEFEFE), linear-gradient(0deg, #FEFEFE, #FEFEFE), #FEFEFE;
    border-radius: 5px;
    margin-left: 82px;
    margin-top:11px;
}


.title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
    color: #03E9F4;
}


.login-box .user-box .lines{
    line-height: 18px;
    margin-top: 8px;"
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #03E9F4;
}


/*.login-box .user-box input:focus ~ label,*/
/*.login-box .user-box input:valid ~ label {*/
/*    top: -20px;*/
/*    left: 0;*/
/*    color: #03e9f4;*/
/*    font-size: 12px;*/
/*}*/

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}


@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}

.wrapper1 {
    position: absolute;
    width: 26px;
    height: 25px;

    background: #141E30;
}

.en {font-family:'Playfair Display', serif; font-weight: lighter;}