@charset "UTF-8";

#header {position:absolute;left:20px;top:20px;}
#header h1 {font-size:20px;color:#fff;}

.section-center {display:flex;align-items:center;justify-content:center;width:100%;height:100%;}
.section-top {display:flex;align-items:flex-start;justify-content:center;padding-top:100px;}

.login-box {width:100%;max-width:640px;margin:0 auto;padding:50px;border-radius:20px;background-color:var(--bgColor2);}
.login-box .form-tit {margin-bottom:50px;font-size:30px;text-align:center;}

.form-box {width:100%;max-width:1080px;margin:0 auto;}
.form-box .form-tit {display:inline-block;position:relative;margin-bottom:25px;padding-bottom:20px;font-size:30px;}
.form-box .form-tit::after {content:'';display:block;position:absolute;left:0;bottom:0;width:300px;height:2px;background-color:var(--color-white);}
.form-inner-box {padding:50px;border-radius:20px;border:1px solid var(--color-white);}
.form-inner-box .btn-start i {font-size:100px;}

.canvas-box {padding:50px;border-radius:20px;background-color:var(--bgColor2);}
.canvas-box p {margin-bottom:20px;font-size:30px;text-align:center;}
.canvas-content {height:500px;background-color:#D9D9D9;}

.form-list ul {display:flex;flex-wrap:wrap;gap:50px;}
.form-list li {position:relative;}
.form-list button {display:inline-flex;align-items:center;justify-content:center;min-width:300px;height:75px;padding:0 10px;border-radius:20px;background-color:var(--bgColor2);border:1px solid var(--bgColor2);transition:all .3s;}
.form-list i {position:absolute;right:-5px;top:-5px;cursor:pointer;opacity:0;transition:all .3s;}
.form-list li:hover i {opacity:1;}
.form-list li:hover button {background-color:transparent;border-color:var(--color-white);}

.menu-list {width:100%;max-width:640px;margin:0 auto;padding:50px;border-radius:20px;border:1px solid var(--color-white);}
.menu-list-inner li {border-top:1px solid var(--color-white);padding:30px 0;text-align:center;}
.menu-list-inner li:last-child {padding-bottom:0;}
.menu-list-inner li a {font-size:18px;}

.question-list {padding:50px;border-radius:20px;border:1px solid var(--color-white);}
.question-list .list-head {display:flex;margin-bottom:20px;}
.question-list .list-head span {color:var(--color-03E9F4);font-size:13px;}
.question-list .list-head span:first-child {flex-basis:50px;}
.question-list ol li {border-bottom:1px solid var(--color-white);}
.question-list ol li a {display:flex;padding:20px 0;}
.question-list ol li span {flex-basis:50px;color:var(--color-03E9F4);text-align:center;}
.question-list ol li p {flex:1;width:100%;}

.floating-menu {display:flex;gap:10px;flex-direction:column;position:fixed;right:20px;bottom:20px;}
.floating-menu a {display:flex;align-items:center;justify-content:center;width:50px;height:50px;border-radius:50%;background-color:var(--bgColor2);}
.floating-menu a i {color:#fff;}