<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="interviewRecipe.interviewRecipe.mapper.InterviewMapper">
    <select id="findOne" parameterType="Long" resultType="interviewRecipe.interviewRecipe.dto.InterviewDto">
        /* findOne :: 인터뷰 조회 */
        SELECT *
        FROM tb_interview
        WHERE titleId = #{titleId}
    </select>

    <select id="findAll" resultType="List">
        /* findAll :: 인터뷰 전체 조회 */
        SELECT *
        FROM tb_interview
        WHERE delYn != 1
    </select>

    <insert id="save" parameterType="interviewRecipe.interviewRecipe.dto.InterviewDto" useGeneratedKeys="true" keyProperty="id">
        /* save :: 인터뷰 주제 등록 */
        INSERT INTO tb_interview
        SET userId=#{userId}
        , title=#{title}
        , regDt=NOW()
    </insert>

    <update id="update" parameterType="interviewRecipe.interviewRecipe.dto.InterviewDto">
        /* update :: 인터뷰 주제 수정 */
        UPDATE tb_interview
        SET title = #{title}
        ,updDt = Now()
        WHERE titleId = #{titleId}
    </update>

    <update id="delete" parameterType="Long">
        /* update :: 인터뷰 주제 삭제 */
        UPDATE tb_interview
        SET delYn = 1
        WHERE titleId = #{titleId}
    </update>

</mapper>