<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="interviewRecipe.interviewRecipe.mapper.MemberMapper">
    <select id="findOne" parameterType="String" resultType="interviewRecipe.interviewRecipe.dto.MemberDto">
        /* findOne :: 로그인 user 조회 */
        SELECT *
        FROM tb_mem
        WHERE userNick= #{userNick}
    </select>

    <insert id="join" parameterType="interviewRecipe.interviewRecipe.dto.MemberDto" useGeneratedKeys="true" keyProperty="userId">
        /* join :: 회원가입 */
        INSERT INTO tb_mem
        SET
        userNm = #{userNm}
        , userPw = #{userPw}
        , userNick = #{userNick}
        , groupCd = #{groupCd}
        , regDt = NOW()
    </insert>

    <select id="idChk" parameterType="String" resultType="int">
        /* idChk :: 아이디 중복 체크 */
        SELECT COUNT(*)
        FROM tb_mem
        WHERE userNick = #{userNick}
    </select>
</mapper>